<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>login</title>  
</head>
<body>
    <form id="loginform">        
        <ul>
            <li>账号：</li>
            <li><input type="text" id="useracc" name="useracc" /></li>
        </ul>
         <ul>
            <li>密码:</li>
            <li><input type="password" id="userpwd" name="userpwd" /></li>
        </ul>
        <ul>
            <li>
                <button id="btnlogin">登录</button>
            </li>
        </ul>
    </form>
</body>
</html>